
:root {
    /* --primary-color: 99%, 64%) to hsl(278, 94%, 30%); */
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);

    --gradient-active: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --error-color: hsl(0, 100%, 66%);

    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
    width: 100%;
  }
  body {
    width: 100%;
    font-size: 1.4rem;
  }

  /* */
  .main-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-width: 375px;
    min-height: 100vh;
  }

  .cards-section {
    position: relative;

    flex: 1;
    flex-basis: 30%;
    min-height: 26rem;
    background-image: url("../images/bg-main-mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card-front,
  .card-back {
    width: 75%;
    height: auto;

    max-width: 447px;
    max-height: 245px;
    aspect-ratio: 1.8;
    border-radius: 8px;

    background-repeat: no-repeat;
    overflow: hidden;
  }

  .card-front {
    position: absolute;
    left: 6%;
    bottom: 0;
    transform: translateY(50%);
    z-index: 20;
    background-image: url("../images/bg-card-front.png");
  }

  .card-back {
    position: absolute;
    right: 6%;
    bottom: 20%;
    z-index: 10;
    background-image: url("../images/bg-card-back.png");
  }

  .card-front__logo {
    position: absolute;
    top: 12px;
    left: 12px;

    width: 60px;
    aspect-ratio: 1.787;
  }

  .card-front__numbers {
    position: absolute;
    left: 2rem;
    bottom: 5.4rem;
    font-size: 1.6rem;
    color: var(--white);
  }

  .card-front__name {
    position: absolute;
    left: 2rem;
    bottom: 2.4rem;
    font-size: 1.4rem;
    color: var(--white);
    letter-spacing: 2px;

    text-wrap: nowrap;
    width: 18ch;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-front__exp-date,
  .card__back-cvc {
    position: absolute;
    font-size: 1.4rem;
    color: var(--white);
  }

  .card-front__exp-date {
    right: 2rem;
    bottom: 2.4rem;
  }

  .card__back-cvc {
    right: 1.2rem;
    top: 110px;

  }


  .form-section {
    flex: 1;
    flex-basis: 70%;
  }

  .form-submit {
    display: flex;
    flex-direction: column;
    gap: 22px;

    width: 100%;
    height: 100%;
    padding: 16px;
    padding-top: 10rem;
    margin: 0;
    background-color: var(--white);
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .col-12 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  .col-6 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50%;
  }

  .pl-8 {
    padding-left: 8px;

  }

  .pl-12 {
    padding-left: 12px;
  }

  .input {
    padding: 16px 8px;
    border-radius: 8px;
    border: solid 2px var(--light-grayish-violet);
    max-width: 100%;

  }

  .input:focus,
  .input:active {
    border: solid 2px var(--very-dark-violet);
    outline: none;
  }

  .btn-primary {

    background-color: var(--very-dark-violet);
    color: var(--white);
    width: 100%;
    padding: 16px 0;
    border-radius: 8px;
    font-size: 2.2rem;
    margin-top: auto;
    border: none;
    cursor: pointer;
  }

  .complete {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 16px;
    background-color: var(--white);
  }

  .complete__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;

    height: fit-content;
    width: 100%;
    padding: 10rem 0 6rem 0;
  }

  .complete__img {
    width: 35%;
    max-width: 20rem;
    height: auto;
    aspect-ratio: 1;
  }

  .complete__title {
    font-size: 3rem;
    font-weight: 800;
  }

  .complete__text {
    color: var(--dark-grayish-violet);
    font-size: 1.8rem;
  }
  .attribution {
    text-align: center;
    padding: .8rem .4rem;
    margin: 0 auto;
    background-color: var(--light-grayish-violet);
  }

  /* MOD */
  .d-none {
    display: none;
  }
  .alert-error {
    color: var(--error-color); 
    font-size: 1.2rem
  }
  .input-error {
    border: 1px solid var(--error-color); 
    
  }
  @media screen and (min-width: 425px) {
    body {
      font-size: 1.6rem;
    }

    .card-front__name {
      width: 24ch;
    }
  }

  @media screen and (min-width: 550px) {
    .card__back-cvc {
      right: 4.6rem;
    }

    .form-submit {
      padding-top: 16rem;
    }
  }
  @media screen and (min-width: 1024px) {
    .main-container {
      flex-direction: row;
      height: 100vh;
    }
    .cards-section {
      flex-basis: 35%;
      
    }
    .form-section {
      flex-basis: 65%;
      display: flex;
      justify-content: center;
      align-items: center;
    } 
    .form-submit {
      width: 50%;
      height: fit-content;
      padding: 0;
      margin-left: 25%;
    }
    .complete {
      width: 50%;
      margin-left: 25%;
    }
    .card-front, .card-back {
      width: 110%;

    }
    .card-front {
      left: 0%;
      top: 25%;
      transform: translate(50%, -35%);
    }
    .card-back {
      left: 25%;
      bottom: 25%;
      transform: translateY(50%);
    }
  }
  @media screen and (min-width: 1440px) {
    .card-front, .card-back {
      width: 447px;
      height: 245px;
    }
  }
  